Q1)
soln: 
Values are : 'hello', -87.8, 6
('hello' is string type, -87.8 is float type, 6 is integer type)
Expressions are: *, -, /, +

Q2)                
STRINGS:
1. string is a data type which is used for holding sequence of charecters enclosed within single quotes or double quotes. The charecters may include digits, letters, special charecters(such as !,#,@..etc).
2. strings are also a type of variables.
3. Since strings are a sequence of charecters each charecter in a string can be accessed by its index. 
4. strings can't hold variables
5. srings can't be used for performing calculations even if it is a numeric string like '5' you would have to convert to integer then perform arithmetic operations.
VARIABLES:
1. variables is a named location in memory which acts as a temporary storage which is used to store diferents kinds of values/data types such as(integer numbers, floating point numbers, strings, lists, tuples, sets, dictionary,etc)
2. The value is initialised to a variable using an assignment operator(=).
3. values which are stored in a variable can be later updated
4. Each variable has a reference in memory i.e memory address which can be found by the 'id()' function.
5. variables can hold strings

In [9]:
s = "srinath"  #s is a string

In [10]:
a = 31243
b = "Hello World"
c = [1,2,3,4,5]
d = {2,3,134,34,32,4}
e = (4,5,56,7,8)
f = {"a" : 123, "b" : 7652.636, "c" : [4,443,53,54,5,335], "d" : 67+34j, "e" : True }

'''a, b, c, d, e  are variables which are capable of storing different data types
a- integer type
b- string type
c - list
d- set
e  -tuple
f - dictionary
'''

'a, b, c, d, e  are variables which are capable of storing different data types\na- integer type\nb- string type\nc - list\nd- set\ne  -tuple\nf - dictionary\n'

Q3)
 The three different kinds of data types are:
 i) strings
 ii) lists
 iii) sets
 
 i)
 1. strings is a data type which is enclosed with single quotes or double quotes
 2. strings basically hold a sequence of charecters, they may include digits, letters, special symbols.
 3. strings can also be enclosed with triple single quotes or double quotes in case if there is a large sentence or paragraph.
 4. the elemnts or basically the charecters in a string can be accessed using their respective indices. the first charecter in a
 string starts with index 0 and ends with the index (length of string -1).The last charecter of a string starts with the index -1
 5. string data type does not support item assignment. 
 6. Two or more strings can be concatenated using '+' operator. 
 7. A given string can be repeated multiple times using '*' operator.
 8. You can do slicing operations on a string , you can reverse a string, calculate the length of a string using len function.

In [11]:
s1 = 'i am working with ineuron'
s2 = "my name is srinath "

In [12]:
s2 + s1

'my name is srinath i am working with ineuron'

In [13]:
s1 *3

'i am working with ineuroni am working with ineuroni am working with ineuron'

In [14]:
s1[0]

'i'

In [15]:
s1[2]

'a'

In [16]:
s2[-1]

' '

In [17]:
s1[::-1]

'norueni htiw gnikrow ma i'

In [18]:
s1[: : 2]

'ia okn ihiern'

In [19]:
len(s1)

25

In [20]:
len(s2)

19

In [21]:
s2[:: 3]

'mnesra '

In [22]:
s1

'i am working with ineuron'

In [24]:
s1[0] = "vgcdsfy" #srting type does not support item assignment

TypeError: 'str' object does not support item assignment

In [25]:
for i in s1:
    print(i)

i

a
m

w
o
r
k
i
n
g

w
i
t
h

i
n
e
u
r
o
n

ii)
1. list is a collection of differnent typed of elements
2. list elements can be accessed using the index just like a string.
3.list operations are similar to that of a string except in the case the elements of a list can be updated or changed.
4. you can do append operation to add an element at the end of the list
5. you can do extend operations on a list if the element is iterable.
6. you can insert the element at a particular position by using the insert function.
7. you can pop the element in a list by mentioning the index but by default it always removes the last element.
8. A list is mutable. list will allow duplicate elements to store inside it.
9. Data types that are not iterable can't be extended inside a list

In [21]:
 [1,2,2,34].extend(2131)

TypeError: 'int' object is not iterable

In [2]:
l = [2653, 675.34, "srinath", 67+35j, True, [1,3,5,7,76,8,9]] #list is a collection of different types of elements

In [3]:
l[0]

2653

In [4]:
l[-1]

[1, 3, 5, 7, 76, 8, 9]

In [5]:
l[: : -1]

[[1, 3, 5, 7, 76, 8, 9], True, (67+35j), 'srinath', 675.34, 2653]

In [6]:
l[0 ] = "sdhgsfyu"

In [7]:
l

['sdhgsfyu', 675.34, 'srinath', (67+35j), True, [1, 3, 5, 7, 76, 8, 9]]

In [26]:
[1,23,33,55,76,8,8,7] + [4,53,50,7,42,5,65,7,4]

[1, 23, 33, 55, 76, 8, 8, 7, 4, 53, 50, 7, 42, 5, 65, 7, 4]

In [31]:
l1  = [1,4,6,7,47,68]

In [32]:
l1.append("srinath")

In [33]:
l1

[1, 4, 6, 7, 47, 68, 'srinath']

In [34]:
l1.insert(1, 47.787)

In [35]:
l1

[1, 47.787, 4, 6, 7, 47, 68, 'srinath']

In [36]:
l1.pop()

'srinath'

In [37]:
l1.pop(3)

6

In [38]:
l1

[1, 47.787, 4, 7, 47, 68]

iii) 
1. set is an unordered collection of elements
2. sets can be used to store multiple items in a single variable
3. set items are unchangeable but you can remove and add items.
4. set is unordered collection because set items appear in a different order you use them and cannot be referred to by index or key.
5. sets cannot have two iems with the same value.
6. sets are mutable , indexing of a set has no meaning.
7. We cannot access or change the element of a set using indxing or slicing, set type does not allow it.
8. sets can be used to perform mathematical operations such as union, intersection, symmetric differnce, etc
9. set elements can be deleted by either using the remove function or discard function. remove function deletes the elemenent if it is a member, else it raises key error.

In [39]:
st = {23,4,4,5,6}

In [40]:
type(st)

set

In [41]:
st

{4, 5, 6, 23}

In [43]:
st[0]

TypeError: 'set' object is not subscriptable

In [44]:
s_1 = {3,5,5,6,75,78,56,47}

In [45]:
st + s_1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [47]:
st.add(2)

In [48]:
st

{2, 4, 5, 6, 23}

In [49]:
st * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [50]:
st.union(s_1)

{2, 3, 4, 5, 6, 23, 47, 56, 75, 78}

In [51]:
_s = {1,2,3,3,3,4,4,5,5,6,6,7,7}

In [52]:
_s

{1, 2, 3, 4, 5, 6, 7}

In [53]:
st.intersection(_s)

{2, 4, 5, 6}

In [54]:
st.symmetric_difference(_s)

{1, 3, 7, 23}

In [56]:
for i in _s:
    print(i)

1
2
3
4
5
6
7

In [57]:
s_1

{3, 5, 6, 47, 56, 75, 78}

In [58]:
s_1.remove(47)

In [59]:
s_1

{3, 5, 6, 56, 75, 78}

In [60]:
s_1.discard(6)

In [61]:
s_1.remove(45)

KeyError: 45

Q4)
Expressions is a combination of operators and operands that is interpreted to produce some other value. an expression is evaluated as per the precedence of its operators.
There are so many types of expressions such as constant expression, arithmetic expression, integral expression, floating expression, relational expression, logical expression.
what do all expressions do?
ans: Expressions are basically representation of values, so when we execute an expression we get a value.
They are different from statement in the fact that statements do something while expressions is an instruction that combines values and operators and always evaluates down to a single value.

In [62]:
# Constant Expressions
x = 15 + 1.3
  
print(x)

16.3

In [64]:
# Arithmetic Expressions
x = 40
y = 12
  
a = x + y
b = x - y
c = x * y
d = x / y
  
print(a)
print(b)
print(c)
print(d)

52
28
480
3.3333333333333335

In [65]:
 #Integral Expressions
a = 13
b = 12.0
  
c = a + int(b)
print(c)

25

In [66]:
# Floating Expressions
a = 13
b = 5
  
c = a / b
print(c)

2.6

In [74]:
# Relational Expressions
a = 21
b = 13
c = 40
if a>b and a>c:
        print('a is the greatest', a)
elif b>a and b>c:
        print('b is the greatest', b)
else:
    print('c is the greatest', c)

c is the greatest 40

In [75]:
P = (10 == 9)
Q = (7 > 5)
  
# Logical Expressions
R = P and Q
S = P or Q
T = not P
  
print(R)
print(S)
print(T)

False
True
True

Q5)

EXPRESSIONS:
1) An expression is defined as any part part of a program that evaluates to some value. expressions contain combination of variables, operators, values, etc 
2)Expressions always return a value
3)Functions are also expressions. Even a non returning function will still return None value, so it is an expression.
4)Can print the result value
5)Examples Of Python Expressions: “Hello” + “World”, 4 + 5 etc.

STATEMENTS:
1)A statement is an instruction that a python interpreter can execute.
2)A statement never returns a value
3)A statement never prints any result
4) Examples Of Python Statements: Assignment statements, conditional branching, loops, classes, import, def, try, except, pass, del etc
5) Assignment statements don't produce a result.A script usually contains a sequence of statements. If there is more than one statement, the results appear one at a time as the statements execute.

In [78]:
#Q6)
bacon = 22
bacon + 1

#so bacon contains the value 23

23

In [81]:
#Q7)
'spam' + 'spamspam'

'spamspamspam'

In [82]:
#Q7)
'spam' *3

'spamspamspam'

Q8)
There are some rules for naming a variable :
i)a variable name must not start with a digit.
ii) no other special symbols can be used to name a variable except underscore(_).
iii) letters can be used to name a variable, leeters followed by digits can be considered a name for a variable.
iv) python is case sensitive so 'name' and 'Name' are considered as different variable names.

therefore eggs is a valid variable name whereas 100 is not a valid variables because digits can't be used for naming variables

Q9)
int() function is used to get the integer version of a value.
float() function is used to get the floating point version of a value.
str() function is used to get the string version of the value

In [83]:
a = str(input('Enter the value:'))
b = int(input('Enter the value:'))
c = float(input('Enter the value:'))
print(a)
print(b)
print(c)

Enter the value:jhgyughjk
Enter the value:98798
Enter the value:5687.453
jhgyughjk
98798
5687.453

In [86]:
#Q10)
'I have eaten'+ '99' + 'burritos'

'I have eaten99burritos'